In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams["figure.figsize"] = (10, 6) # bütün notebook ta görselle aynı boyutta olacak

import warnings
warnings.filterwarnings("ignore") # verilen uyarının göz ardı edilmesi için

## Read Dataset

In [2]:
df = pd.read_csv("Advertising.csv")
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

https://techproeducat-b150.slack.com/files/U04M1M5S0GL/F05GCQ0JF96/image.png

SyntaxError: invalid syntax (770024665.py, line 1)