# Nesne Yönelimli Programlama

In [8]:
class MyFirstClass:
    pass

In [9]:
print(type(MyFirstClass))

<class 'type'>

In [10]:
print(int)
print(str)
print(list)
print(MyFirstClass)

<class 'int'>
<class 'str'>
<class 'list'>
<class '__main__.MyFirstClass'>

In [11]:
class MyFirstClass:
    pass

In [18]:
class MyFirstClass:
    pass

In [12]:
my_class = MyFirstClass()

In [13]:
my_class

In [21]:
class Person:
    pass

p1 = Person()
print(p1)
p2 = Person()
print(p2)
p3 = Person()

<__main__.Person object at 0x7f2681f86350>
<__main__.Person object at 0x7f2681f84e50>

In [23]:
p1.name = "Ahmet"
p1.surname = "Yılmaz"
p1.age = 25
p1.job = "Engineer"

In [24]:
p2 = Person()
p2.name = "Mehmet"
p2.surname = "Yılmaz"
p2.age = 30
p2.job = "Teacher"
p2.country = "Turkiye"

In [26]:
print(p1.name, p1.surname, p1.age, p1.job)

Ahmet Yılmaz 25 Engineer

In [27]:
p1.name

'Ahmet'

In [28]:
type(p1.name)

str

In [29]:
print(p2.name, p2.surname,p2.age,p2.country)

Mehmet Yılmaz 30 Turkiye

In [30]:
class Person:
    def __init__(self):
        self.name = "No name"
        self.surname = "No Surname"
        self.age = "No age"
        self.job = "No job"

In [31]:
p1 = Person()

In [33]:
p1.name, p1.surname, p1.age,p1.job

('No name', 'No Surname', 'No age', 'No job')

In [34]:
print(p1.name)
print(p1.surname)

No name
No Surname

In [35]:
class Person:
    def __init__(kendim):
        kendim.name = "No name"
        kendim.surname = "No Surname"
        kendim.age = "No age"
        kendim.job = "No job"

In [36]:
p100 = Person()

In [37]:
p100.name

'No name'

In [38]:
p100.age

'No age'

In [39]:
p100.country

AttributeError: 'Person' object has no attribute 'country'

In [45]:
class Person:
    def __init__(self):
        kendim.name = "No name"
        kendim.surname = "No Surname"
        kendim.age = "No age"
        kendim.job = "No job"
        
        
p100 = Person()  

# __init__ fonksiyonu içerisine verilen parametre üzerinden attribute tanımlamalıyız.

NameError: name 'kendim' is not defined

In [46]:
class Person:
    def __init__(self):
        self.name = "No name"
        self.surname = "No Surname"
        self.age = "No age"
        self.job = "No job"

In [50]:
p1 = Person()
print(p1.name)
p1.name = "Ahmet"
print(p1.name)

No name
Ahmet

In [59]:
class Person:
    def __init__(self,name,surname,age,job):
        self.name      = name
        self.surname   = surname
        self.age       = age
        self.job       = job

In [60]:
p1 = Person()

TypeError: Person.__init__() missing 4 required positional arguments: 'name', 'surname', 'age', and 'job'

In [63]:
p1 = Person("Ali","Veli",30,"IT")

In [64]:
print(p1.name)
print(p1.surname)
print(p1.age)
print(p1.job)

Ali
Veli
30
IT

In [65]:
p2 = Person(10,20,"serdar",100)

In [66]:
p2.name

10

In [67]:
p2.job

100

In [72]:
class Person:
    def __init__(self,a,b,c,d):
        self.name      = a
        self.surname   = b
        self.age       = c
        self.job       = d

In [73]:
p3 = Person("Ali", "Veli",30,["Yazılımcı","Pazarlamacı","Teacher"])

In [74]:
p3.job

['Yazılımcı', 'Pazarlamacı', 'Teacher']

In [75]:
class Person:
    def __init__(self,name,surname,age,job):
        self.name      = name
        self.surname   = surname
        self.age       = age
        self.job       = job
    
    def fullname(self):
        return f"isim: {self.name} soyisim: {self.surname}"

In [77]:
p1 = Person("Ali","Veli",30,"Öğretmen")
print(p1.fullname)

<bound method Person.fullname of <__main__.Person object at 0x7f26815353c0>>

In [78]:
print(p1.fullname())

isim: Ali soyisim: Veli

In [84]:
class Person:
    def __init__(self,name,surname,age,job):
        self.name      = name
        self.surname   = surname
        self.age       = age
        self.job       = job
    
    def fullname(self):
        return f"isim: {self.name} soyisim: {self.surname}"
        
    def info(self):
        return f"name: {self.name} surname: {self.surname} age: {self.age}"

In [85]:
p1 = Person("Ali","Veli",30,"Öğretmen")

In [86]:
p1.fullname()

'isim: Ali soyisim: Veli'

In [88]:
p1.info()

'name: Ali surname: Veli age: 30'

In [90]:
p1.country

AttributeError: 'Person' object has no attribute 'country'

In [91]:
x

NameError: name 'x' is not defined

# Class Attribute & Instance Attribute

In [92]:
class Employee:
    """ Employee Class: name, surname, pay"""
    def __init__(self, name, surname, pay):
        self.name = name
        self.surname = surname
        self.pay = pay
    
    def fullname(self):
        print(self.name, self.surname)
        
    def pay_raise(self):
        self.pay = int(self.pay * self.raise_amount)

In [93]:
e1 = Employee("Ahmet", "Yılmaz", 5000)
e2 = Employee("Mehmet", "Erdemir", 5000)

In [94]:
e1.__dict__

{'name': 'Ahmet', 'surname': 'Yılmaz', 'pay': 5000}

In [95]:
e2.__dict__

{'name': 'Mehmet', 'surname': 'Erdemir', 'pay': 5000}

In [96]:
e1.fullname()

Ahmet Yılmaz

In [97]:
e1.pay_raise()

AttributeError: 'Employee' object has no attribute 'raise_amount'

In [30]:
class Employee:
    """ Employee Class: name, surname, pay"""
    
    raise_amount = 1.2
    
    def __init__(self, name, surname, pay):
        self.name = name
        self.surname = surname
        self.pay = pay
    
    def fullname(self):
        print(self.name, self.surname)
        
    def pay_raise(self):
        self.pay = int(self.pay * Employee.raise_amount) #self yazmadığımız için her zaman class atribute değerini çekecek.
        return self.pay

In [32]:
Employee.raise_amount

1.2

In [31]:
e1 = Employee("Ahmet", "Yılmaz", 5000)

In [33]:
Employee.fullname(e1) # yaygın olmayan bir kullanım.

Ahmet Yılmaz

In [34]:
e1.fullname()

Ahmet Yılmaz

In [35]:
e1.raise_amount

1.2

In [36]:
e1.__dict__

{'name': 'Ahmet', 'surname': 'Yılmaz', 'pay': 5000}

In [37]:
e1.pay_raise()

6000

In [38]:
e1.pay

6000

In [39]:
e2 = Employee("Mehmet", "Demir", 5000)

In [40]:
e2.pay

5000

In [41]:
e1.__dict__

{'name': 'Ahmet', 'surname': 'Yılmaz', 'pay': 6000}

In [42]:
e2.__dict__

{'name': 'Mehmet', 'surname': 'Demir', 'pay': 5000}

In [43]:
e3 = Employee("Veli", "Erdemir", 5000)

In [44]:
e1.pay, e2.pay, e3.pay

(6000, 5000, 5000)

In [45]:
e2.pay_raise()

6000

In [46]:
e2.pay

6000

In [47]:
Employee.raise_amount

1.2

In [48]:
e1.raise_amount

1.2

In [49]:
e2.raise_amount

1.2

In [50]:
e3.raise_amount = 2

In [51]:
e3.pay_raise()

6000

In [52]:
e3.__dict__

{'name': 'Veli', 'surname': 'Erdemir', 'pay': 6000, 'raise_amount': 2}

In [53]:
e2.__dict__

{'name': 'Mehmet', 'surname': 'Demir', 'pay': 6000}

In [54]:
e1.__dict__

{'name': 'Ahmet', 'surname': 'Yılmaz', 'pay': 6000}

In [57]:
Employee.raise_amount

1.2

In [58]:
e1.raise_amount

1.2

In [59]:
e2.raise_amount

1.2

In [60]:
e3.raise_amount

2

In [61]:
Employee.name

AttributeError: type object 'Employee' has no attribute 'name'

In [62]:
class Employee:
    """ Employee Class: name, surname, pay"""
    employee_count = 0 
    def __init__(self, name, surname, pay):
        self.name = name
        self.surname = surname
        self.pay = pay
        Employee.employee_count += 1

In [65]:
Employee.employee_count

0

In [66]:
e1 = Employee("Ali","Veli",5000)
Employee.employee_count

1

In [67]:
e2 = Employee("Niyazi","Demir",5000)
Employee.employee_count

2

In [68]:
Erdi = Employee("Erdi","Kahraman", 5000)
Employee.employee_count

3

# Class Method & Instance Method

In [69]:
class Person:
    
    def __init__(self, name, surname, age):
        self.name = name
        self.surname = surname
        self.age = age

    def fullname(self): # instance method
        return f"{self.name} {self.surname}"
    
    def info(self): # instance method
        return f"name: {self.name} surname: {self.surname} nage: {self.age}"

In [70]:
p1 = Person("Ahmet", "Yılmaz", 18)

In [73]:
p1.info()

'name: Ahmet surname: Yılmaz nage: 18'

In [74]:
Person.info()

TypeError: Person.info() missing 1 required positional argument: 'self'

In [75]:
Person.info(p1) # Bu kullanım yaygın değil

'name: Ahmet surname: Yılmaz nage: 18'

In [86]:
# class method tanımlayalım
class Person:
        
        employee_count = 0 # class attribute
        
        def __init__(self, name, surname, age):
            self.name = name
            self.surname = surname
            self.age = age
            Person.employee_count += 1 # class variable, instance oluşturulduğunda artacak, # self kullanmadık. Çünkü class variable
            
        def fullname(self): # instance method
            return f"{self.name} {self.surname}"
        
        def info(self): # instance method
            return f"name: {self.name} surname: {self.surname} nage: {self.age}"
        
        @classmethod # class method
        def number_of_employee(cls):
            return f"Number of employee: {cls.employee_count}"

In [87]:
Person.employee_count

0

In [92]:
p1 = Person("Ahmet", "Yılmaz", 18)
p2 = Person("Ayşe", "Şahin", 30)

In [93]:
Person.number_of_employee()

'Number of employee: 6'

In [94]:
# class method tanımlayalım
class Person:
        
        employee_count = 0 # class attribute
        
        def __init__(self, name, surname, age):
            self.name = name
            self.surname = surname
            self.age = age
            Person.employee_count += 1 # class variable, instance oluşturulduğunda artacak, # self kullanmadık. Çünkü class variable
            
        def fullname(self): # instance method
            return f"{self.name} {self.surname}"
        
        def info(self): # instance method
            return f"name: {self.name} surname: {self.surname} nage: {self.age}"
        
        @classmethod # class method
        def number_of_employee(cls):
            return f"Number of employee: {cls.employee_count}"

In [95]:
Person.number_of_employee()

'Number of employee: 0'

In [101]:
# Şimdi bunu class method kullanarak yapalım.
class Person:
    def __init__(self, name, surname, age):
        self.name = name
        self.surname = surname
        self.age = age
    
    @classmethod
    def from_string(cls, string):
        name, surname, age = string.split("-")
        return cls(name, surname, age)

In [109]:
p1 = Person.from_string("Ahmet-Yılmaz-25")

In [112]:
print(p1.name)
print(p1.surname)

Ahmet
Yılmaz

In [107]:
p1 = Person("Ahmet","Yılmaz",25)

In [108]:
p1.__dict__

{'name': 'Ahmet', 'surname': 'Yılmaz', 'age': 25}